@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap);
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 500px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="confirmPassword"]
input[type="file"] {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #3e8e41;
}

.createAccount{
    padding-top: 100px;
}

.accountSuccessfullyCreated{
    font-weight: bolder;
    font-size: 20px;
}
