<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:s="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/loginPopup.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/recipe.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav-bar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <script type="text/javascript" th:src="@{/js/script.js}" th:defer="defer"></script>
    <script type="text/javascript" th:src="@{/js/recipeRating.js}" th:defer="defer"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}">
    <script type="text/javascript" th:src="@{/js/recipeComments.js}" th:defer="defer"></script>
    <script type="text/javascript" th:src="@{/js/loginPopup.js}" th:defer="defer"></script>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>

<nav class="navbar">
    <div class="navbar-logo">
        <div class="dropdown">
            <div class="hamburger-icon" onclick="toggleDropdown()">
                <img src="https://recept.se/assets/images/menu/hamburger.svg" alt="Logo">
            </div>
            <div class="dropdown-menu" id="dropdown-menu" style="display:none">
                <a href="/articles" class="dropdown-menu-item">Articles</a>
                <a href="/about" class="dropdown-menu-item">About us</a>
                <a href="/contact" class="dropdown-menu-item">Contact us</a>
            </div>
        </div>
        <a href="/" class="navbar-brand"> <!-- Add the link to the home page -->
            <img class="logo" th:src="@{/images/nylogo.png}" alt="Logo">
        </a>
    </div>

    <div class="navbar-menu">
        <div class="search">
            <form class="search-form" th:action="@{/search}" method="get">
                <div class="search-icon" onclick="toggleSearchField()">
                    <img src="https://recept.se/assets/images/menu/search.svg" alt="search icon">
                </div>
                <input type="text" class="search-field navbar-search-field" name="searchTerm" placeholder="Search..."
                       style="display: none">
            </form>
        </div>
        <div class="user">
            <div class="user-icon" id="user-icon">
                <img th:if="${loggedInUser == null or loggedInUser.userProfileImg == null}"
                     src="https://recept.se/assets/images/icons/user.svg" alt="user icon" id="user-icon-preview">
                <img th:if="${loggedInUser != null and loggedInUser.userProfileImg != null}"
                     th:src="'data:image/png;base64,' + ${thymeleafUtil.encodeToBase64(loggedInUser.userProfileImg)}"
                     alt="user icon">
            </div>
            <div class="profile-form" id="profileForm" style="display:none">
                <form action="/logout" method="post" s:authentication="">
                    <a class="profile-dropdown" href="/myProfile">My Profile</a>
                    <a class="profile-dropdown" href="/myFavourites">Favourite Recipes</a>
                    <a class="profile-dropdown" href="/settings">Settings</a>
                    <button type="submit">Log Out</button>
                </form>
            </div>
            <div class="login-form" id="loginForm" style="display: none">
                <form action="/login" method="post">
                    <input type="text" name="username" placeholder="Username" onfocus="this.placeholder=''"
                           onblur="this.placeholder='Username'" required>
                    <input type="password" name="password" placeholder="Password" onfocus="this.placeholder=''"
                           onblur="this.placeholder='Password'" required>
                    <button type="submit">Log in</button>
                </form>
                <a href="/createAccount">Create Account</a>
            </div>
        </div>
    </div>
</nav>


<div class="header">
    <img th:src="${recipe.getRecipeImage()}" alt="Recipe image" style="width: 800px; height: 500px;">
    <div class="recipeTitle">
        <h1 th:text="${recipe.getRecipeName()}"></h1>
        <div class="ratingContainer" th:attr="data-recipe-id=${recipe.recipeId}">
            <i class="fa fa-star-o star-icon" style="color: #86BCA8; font-size: 3em; cursor: pointer" th:data-rating="1"
               th:data-recipe-id="${recipe.recipeId}"></i>
            <i class="fa fa-star-o star-icon" style="color: #86BCA8; font-size: 3em; cursor: pointer" th:data-rating="2"
               th:data-recipe-id="${recipe.recipeId}"></i>
            <i class="fa fa-star-o star-icon" style="color: #86BCA8; font-size: 3em; cursor: pointer" th:data-rating="3"
               th:data-recipe-id="${recipe.recipeId}"></i>
            <i class="fa fa-star-o star-icon" style="color: #86BCA8; font-size: 3em; cursor: pointer" th:data-rating="4"
               th:data-recipe-id="${recipe.recipeId}"></i>
            <i class="fa fa-star-o star-icon" style="color: #86BCA8; font-size: 3em; cursor: pointer" th:data-rating="5"
               th:data-recipe-id="${recipe.recipeId}"></i>
            <span id="ratingValue" style="font-size: 3em" class="ratingValue" th:text="${averageRating}" th:attr="data-average-rating=${averageRating}"></span>

        </div>
        <div th:attr="data-average-rating=${averageRating},data-recipe-id=${recipe.recipeId}"
             style="display: none;"></div>
    </div>
</div>

<div class="recipeInfoContainer">
    <div class="ingredients">
        <h2>Ingredients:</h2>
        <div class="recipeServings">
            <p th:text="'Servings: ' + ${recipe.getRecipeServings()}"></p>
        </div>
        <ul id="ingredients-list">
<!--            <li th:each="ingredient : ${#strings.arraySplit(#strings.substring(recipe.getRecipeIngredients(), #strings.indexOf(recipe.getRecipeIngredients(), '[') + 1, #strings.indexOf(recipe.getRecipeIngredients(), ']')), ', ')}"-->
<!--                th:text="${ingredient}"></li>-->
        </ul>
    </div>
    <div class="instructions">
        <h2>Instructions:</h2>
        <ol>
            <li th:if="${recipe.getRecipeInstructions() != null and !recipe.getRecipeInstructions().isEmpty()}"
                th:each="instruction : ${#strings.arraySplit(#strings.replace(#strings.substring(recipe.getRecipeInstructions(), 1, #strings.length(recipe.getRecipeInstructions()) - 1), '.,', '.|'), '\\|')}"
                th:text="${#strings.trim(instruction)}"></li>
        </ol>
    </div>
</div>

<div class="video-container" th:if="${recipe.getRecipeVideo()}">
    <iframe width="560" height="315" th:src="${recipe.getRecipeVideo()}" allowfullscreen></iframe>
</div>

<div class="comment-section">
    <h2>Comments</h2>
    <div class="comment-list">
        <ul>
            <li th:each="comment : ${comments}">
                <div class="comment-header">
                    <div>
                        <strong class="username" th:text="${comment.user.username}">Username</strong>
                        <span class="social-icons">
              <a th:if="${loggedInUser != null and loggedInUser.getUserFacebook() != null}"
                 th:href="${loggedInUser.getUserFacebook()}" target="_blank" title="Facebook"><i
                      class="fab fa-facebook"></i></a>
              <a th:if="${loggedInUser == null or loggedInUser.getUserFacebook() == null}"
                 style="pointer-events:none;opacity:0.5"><i class="fab fa-facebook"></i></a>

              <a th:if="${loggedInUser != null and loggedInUser.getUserInstagram() != null}"
                 th:href="${loggedInUser.getUserInstagram()}" target="_blank" title="Instagram"><i
                      class="fab fa-instagram"></i></a>
              <a th:if="${loggedInUser == null or loggedInUser.getUserInstagram() == null}"
                 style="pointer-events:none;opacity:0.5"><i class="fab fa-instagram"></i></a>

              <a th:if="${loggedInUser != null and loggedInUser.getUserTikTok() != null}"
                 th:href="${loggedInUser.getUserTikTok()}" target="_blank" title="TikTok"><i class="fab fa-tiktok"></i></a>
              <a th:if="${loggedInUser == null or loggedInUser.getUserTikTok() == null}"
                 style="pointer-events:none;opacity:0.5"><i class="fab fa-tiktok"></i></a>
            </span>
                    </div>
                    <div class="date-time">
                        <span th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd')}">Comment date</span><br>
                        <span th:text="${#temporals.format(comment.createdAt, 'HH:mm:ss')}">Comment time</span>
                    </div>
                </div>
                <p class="comment-content" th:text="${comment.content}">Comment content</p>
            </li>
        </ul>
    </div>
</div>
<div class="comment-form" th:if="${loggedInUser != null}">
    <form action="/addComment" method="post">
        <input type="hidden" name="recipeId" th:value="${recipe.getRecipeId()}">
        <textarea name="comment" placeholder="Write your comment here..." onfocus="this.placeholder=''"
                  onblur="this.placeholder='Write your comment here...'" required></textarea>
        <button type="submit">Post Comment</button>
    </form>
</div>
<div class="login-to-comment" th:if="${loggedInUser == null}">
    <p>Please <a href="#" onclick="showLoginPopup()">log in</a> to post a comment.</p>
</div>

<div id="overlay">
    <div id="loginPopup">
        <h2>Login</h2>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Log in</button>
        </form>
        <a href="/createAccount">Create Account</a>
        <button id="close-btn" onclick="closeLogin()">Close</button>
    </div>
</div>

<div class="flex-it"></div>

<div th:if="${errorUserLogin}">
    <script th:inline="javascript">
        alert([[${errorUserLogin}]]);
    </script>
</div>

<footer class="footerContainer">
    <div class="footer-content">
        <a href="/" class="footer-logo"> <!-- Add the link to the home page -->
            <img th:src="@{/images/nylogo.png}" alt="Logo" height="60px" width="60px">
        </a>
        <!--        <p class="dev">DEV ¤ </p>-->
        <!--        <img th:src="@{/images/jika-logo-kopia.png}" alt="Logo" > &lt;!&ndash;height="150px" width="150px"&ndash;&gt;-->
        <p>FOLLOW US!</p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>

    <div class="footer-bottom">
        <div class="footer-menu">
            <ul class="f-menu">
                <li><a href="http://localhost:8080/" target="_self">Home</a></li>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</footer>

</body>
<script th:inline="javascript">
    const ingredientsString = /*[[${recipe.getRecipeIngredients()}]]*/ '';
    const ingredientsList = document.getElementById('ingredients-list');
    const formattedString = ingredientsString.slice(1, -1);
    const ingredientsArray = formattedString.split(/,\s(?=[A-Z0-9\u00BC-\u00BE\u2150-\u215E\/])/);

    ingredientsArray.forEach(ingredient => {
        const li = document.createElement('li');
        li.textContent = ingredient;
        ingredientsList.appendChild(li);
    });
</script>
</html>